@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  --color-custom-yellow: #FFF7AD;
  --color-custom-pink: #FFA9F9;
  --font-roboto: 'Roboto', sans-serif;
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(90deg, var(--color-custom-yellow), var(--color-custom-pink));
  }
}