@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
  --color-custom-yellow: #FFF7AD;
  --color-custom-pink: #FFA9F9;
  --font-roboto: 'Roboto', sans-serif;
}

@layer utilities {
  .bg-gradient-custom {
    background: linear-gradient(90deg, var(--color-custom-yellow), var(--color-custom-pink));
  }
  .bg-gradient-pink {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--color-custom-pink));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.12); }
  100% { transform: scale(1.05); }
}

.animate-pop {
  animation: pop 0.3s ease forwards;
}
